{% load static %}
<div class="nav-header">
    <a href="{% url 'vora:index' %}" class="brand-logo">
        <div class="logo-abbr">
        <img class="logo-compact" style="display: block!important;" src="{% static 'vora/images/logo.png' %}" alt="">

        </div>
        <div class="brand-title">
        </div>
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>